{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}

         <div class="hero-unit">
        <div class="row">
           <div class="span5 offset1">
            <img src="/media/img/mobile.png" />
           </div>
           <div class="span8">
              <h1>Zimity <small>for Android 2.1+</small></h1>
              <br />
              <p>Zimity allows you to effortlessly create and share photos, videos and notes from your current location using your GPS enabled mobile phone. You can also discover local deals, bookmark important locations or chat with nearby Zimity users.</p>
              <p>Come join us and leave your mark wherever life takes you!</p>
              <br />
              <p><a class="btn primary large" href="http://market.android.com/details?id=ca.rivalstudios.runboyrun">Download Now &raquo;</a></p>
           </div>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <h2>Heading</h2>
          <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span5">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span5">


<div class="rightside">
    <h3>New to Zimity? <em>Join today!</em></h3>
    <form action="https://twitter.com/signup" class="signup signup-btn" method="post">
  <div class="holding name">
    <input type="input" autocomplete="off" value="" name="user[name]" maxlength="20" placeholder="Username"/>

  </div>
  <div class="holding email">

    <input type="input" autocomplete="off" value="" name="user[email]" placeholder="Email"/>

  </div>
  <div class="holding password">
    <input type="input" value="" name="user[user_password]" placeholder="Password"/>

  </div>
  
  <input type="hidden" value="front" name="context" />

  <input type="submit" class="btn success" value="Sign up" />

        </div>
      </div>

{% endblock content %}