<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Zimity - {% block title %}{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/media/apple-touch-icon.ico" type="image/x-icon" />

  <!-- Le fav and touch icons -->
  <link rel="apple-touch-icon" sizes="72x72" href="/media/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/media/images/apple-touch-icon-114x114.png">

  <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.min.css" media="screen" />

    <style type="text/css">
      body {
        padding-top: 60px;
      }
      
      #map_canvas { height: 240px;width: 320px }

      .content .span10 {
        margin-left: 0;
        padding-left: 19px;
        border-right: 1px solid #eee;
      }
    </style>

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="/media/js/libs/modernizr-2.0.6.min.js"></script>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/media/js/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <script src="/media/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
  <script src="/media/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  
  <script src="/media/js/bootstrap/bootstrap-modal.js"></script>
  <script src="/media/js/bootstrap/bootstrap-alerts.js"></script>
  <script src="/media/js/bootstrap/bootstrap-dropdown.js"></script>
  <script src="/media/js/bootstrap/bootstrap-scrollspy.js"></script>
  <script src="/media/js/bootstrap/bootstrap-tabs.js"></script>
  <script src="/media/js/bootstrap/bootstrap-buttons.js"></script>
  <script src="/media/js/bootstrap/bootstrap-twipsy.js"></script>
  <script src="/media/js/bootstrap/bootstrap-popover.js"></script>

  <link rel="stylesheet" type="text/css" href="/media/js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
</head>

<body>




    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">zimity</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://blog.zimity.me/">Blog</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
                    <li class="dropdown" data-dropdown="dropdown">
          <a href="#" class="dropdown-toggle">Dropdown</a>

          <ul class="dropdown-menu">
            <li><a href="#">Secondary link</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Another link</a></li>
          </ul>
        </li>

          </ul>
          {% load url from future %}
          
          {% if not request.user.is_authenticated %}
          <form action="{% url 'django.contrib.auth.views.login' %}" class="pull-right" method="post">
            {% csrf_token %}
            <input class="input-small" type="text" name="username" placeholder="Username">
            <input class="input-small" type="password" name="password" placeholder="Password">
            <button class="btn primary" type="submit">Sign in</button>
            <a href="#" class="btn success">Sign up</a>
          </form>
          {% else %}
            <div class="pull-right">Logged in as: {{ user.username }} [<a href="/logout/">Logout</a>]</div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">

        {% block content %} {% endblock content %}

      </div>
      
      <br />

      <footer>
          <a href="/about/">About</a> &middot;
          <a href="/contact/">Contact Us</a> &middot;
          <a href="http://blog.zimity.me/">Blog</a> &middot;
          <a href="http://support.zimity.me/">Support</a> &middot;
          <a href="/dev/">Developers</a> &middot;
          <a href="/jobs/">Jobs</a> &middot;
          <a href="/terms/">Terms</a> &middot;
          <a href="/privacy">Privacy</a> &middot;
        &copy; 2011 Zimity
      </footer>

    </div> <!-- /container -->

  <!-- JavaScript at the bottom for fast page loading -->
  
  

  <script type="text/javascript">
    $(document).ready(function() {
       $("a[rel=twipsy]").twipsy({'placement': 'below'});
       $("a[rel=popover]").popover({offset: 10});


        $("a.lightbox").fancybox({
                'transitionIn'        : 'elastic',
                'transitionOut'       : 'elastic',
                'centerOnScroll'      : 'true',
                'hideOnOverlayClick'  : 'true',
                'hideOnContentClick'  : 'true',
                'margin'              : 75,
                'titlePosition'   : 'over',
                'overlayColor'    : '#000',
                'overlayOpacity'  : 0.9
              });
        });
  </script>

  <!-- scripts concatenated and minified via ant build script-->
  <script src="/media/js/plugins.js"></script>
  <script src="/media/js/script.js"></script>
  <!-- end scripts-->

  <script>
    window._gaq = [['_setAccount','UA-17761849-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>