{% extends "base.html" %}

{% block title %} {{ user.first_name }}'s Profile {% endblock title %}

{% block content %}

  <ul class="breadcrumb">
    <li><a href="/">Home</a><span class="divider">/</span></li>
    <li><a href="{% url user_index %}">Users</a><span class="divider"><span class="divider">/</span></li>
    <li><a href="{% url user_index %}">{{ user.first_name }}</a></li>
  </ul>
  
  <div class="page-header">
    <h1>
    {{ user.first_name }}
    <small>{{ user.get_profile.quote }}</small></h1>
  </div>

  <div class="row">
    <div class="span10">
      <ul class="tabs">
        <li class="active"><a href="#photos">Photos</a></li>
        <li><a href="#videos">Videos</a></li>
        <li><a href="#notes">Notes</a></li>
        <li><a href="#audio">Audio</a></li>
        <li><a href="#events">Events</a></li>
        <li><a href="#reminders">Reminders</a></li>
        <li><a href="#deals">Deals</a></li>
      </ul>

      <div class="pill-content">
        <div class="active" id="photos">
          <h3>Photos</h3>

          <ul class="media-grid">
	    {% for imprint in user.imprint_set.all %}
	      {% if imprint.type == imprint.PHOTO %}
	      <li><a rel="popover" title="{{ imprint.title }}" data-content="{{ imprint.content }}" href="{{ imprint.get_absolute_url }}"><img alt="{{ imprint.title}}" src="http://s3.zimity.me/{{ imprint.slug }}_s.jpg" /></a></li>
	      {% endif %}
	    {% endfor %}
          </ul>
        </div>

        <div id="videos">
          <h3>Videos</h3>
	  
	  <ul class="media-grid">
	    {% for imprint in user.imprint_set.all %}
	      {% if imprint.type == imprint.VIDEO %}
	      <li><a rel="popover" title="{{ imprint.title }}" href="{{ imprint.get_absolute_url }}"><img alt="{{ imprint.title }}" src="http://s3.zimity.me/{{ imprint.slug }}_s.jpg" /></a></li>
	      {% endif %}
	    {% endfor %}
	  </ul>
        </div>

        <div id="notes">
          <h3>Notes</h3>
	  
	  <ul class="media-grid">
	    {% for imprint in user.imprint_set.all %}
	      {% if imprint.type == imprint.NOTE %}
	      <li><a rel="popover" title="{{ imprint.title }}" data-content="{{ imprint.content }}" href="{{ imprint.get_absolute_url }}">{{ imprint.title }}</a></li>
	      {% endif %}
	    {% endfor %}
	  </ul>
        </div>

        <div id="audio">
          <h3>Audio</h3>
	  
	  <ul class="media-grid">
	    {% for imprint in user.imprint_set.all %}
	      {% if imprint.type == imprint.AUDIO %}
	      <li><a rel="popover" title="{{ imprint.title }}" href="{{ imprint.get_absolute_url }}"><img alt="{{ imprint.title}}" src="http://s3.zimity.me/{{ imprint.slug }}_s.jpg" /></a></li>
	      {% endif %}
	    {% endfor %}
	  </ul>
        </div>

        <div id="events">
          <h3>Events</h3>
	  
	  <ul class="media-grid">
	    {% for imprint in user.imprint_set.all %}
	      {% if imprint.type == imprint.EVENT %}
	      <li><a rel="popover" title="{{ imprint.title }}" href="{{ imprint.get_absolute_url }}"><img alt="{{ imprint.title}}" src="http://s3.zimity.me/{{ imprint.slug }}_s.jpg" /></a></li>
	      {% endif %}
	    {% endfor %}
	  </ul>
        </div>

        <div id="reminders">
          <h3>Reminders</h3>
	  
	  <ul class="media-grid">
	    {% for imprint in user.imprint_set.all %}
	      {% if imprint.type == imprint.REMINDER %}
	      <li><a rel="popover" title="{{ imprint.title }}" href="{{ imprint.get_absolute_url }}"><img alt="{{ imprint.title}}" src="http://s3.zimity.me/{{ imprint.slug }}_s.jpg" /></a></li>
	      {% endif %}
	    {% endfor %}
	  </ul>
        </div>

        <div id="deals">
          <h3>Deals</h3>
	  
	  <ul class="media-grid">
	    {% for imprint in user.imprint_set.all %}
	      {% if imprint.type == imprint.DEAL %}
	      <li><a rel="popover" title="{{ imprint.title }}" data-content="{{ imprint.content }}" href="{{ imprint.get_absolute_url }}"><img alt="{{ imprint.title}}" src="http://s3.zimity.me/{{ imprint.slug }}_s.jpg" /></a></li>
	      {% endif %}
	    {% endfor %}
	  </ul>
        </div>
      </div>
      
      {% load comments %}

      {% if request.user.is_authenticated %}
	{% render_comment_form for user %}
      {% endif %}

      <table class="zebra-striped">
        <tbody>
	  {% get_comment_list for user as comment_list %}
	  {% for comment in comment_list %}
	     <tr>
	        <td class="span2"><a href="{{ comment.user.get_absolute_url }}">{{ comment.name }}</a></td>
	        <td class="span8">{{ comment.comment }}</td>
	     </tr>
	  {% endfor %}
        </tbody>
      </table>
    </div>
    

    <div class="span4">
      <h3>Profile</h3>

      <dl>
        <dt>Name</dt>
        <dd>{{ user.first_name }} {{ user.last_name }}</dd>

        <dt>Location</dt>
        <dd>{{ user.get_profile.location }}</dd>

        <dt>About</dt>
        <dd>{{ user.get_profile.about }}</dd>
      </dl>
    </div>
  </div>
  <script type="text/javascript">
  //<![CDATA[
  $(function () {
    $('.tabs').tabs()
  })
  //]]>
  </script>

{% endblock content %}