{% extends "base.html" %}

{% block title %} Index {% endblock title %}

{% block content %}

<div class="page-header">
   <h1>Imprints! <small>Supporting text or tagline</small></h1>
</div>

<div class="row">
   <div class="span10">

   <ul class="media-grid">
      
      {% for imprint in imprints %}
         {% if imprint.imp_type == 2 %}
            <li><a href="/imprint/view/{{imprint.slug}}" rel="popover" title="firstname" data-content="{{imprint.content}}"><img src="http://s3.zimity.me/{{imprint.slug}}_s.jpg" /></a></li>
         {% else %}
            <li><a href="/imprint/view/{{imprint.slug}}" rel="popover" title="firstname" data-content="{{imprint.content}}">{{imprint.title}}</a></li>
         {% endif %}
      {% endfor %}
   </ul>

   </div>


   <div class="span4">
      <h3>Secondary content</h3>
   </div>
</div>

<div class="pagination">
  <ul>
    <li class="prev disabled"><a href="#">&larr; Previous</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="next"><a href="#">Next &rarr;</a></li>
  </ul>
</div>

{% endblock content %}