{% extends "base.html" %}

{% load comments %}

{% block title %} View {% endblock title %}

{% block content %}
  
  <ul class="breadcrumb">
    <li><a href="/">Home</a><span class="divider">/</span></li>
    <li><a href="{% url imprint_index %}">Imprints</a><span class="divider">/</span></li>
    <li><a href="{{ imprint.get_absolute_url }}">{{ imprint.slug }}</a></li>
  </ul>
  
  <div class="page-header">
    <h1>{{ imprint.title }}</h1>
  </div>

  <div class="row">
    <div class="span10">
      <div class="media-grid">
	      {% if imprint.type == imprint.PHOTO %}
	      <li><a href="http://s3.zimity.me/{{ imprint.slug }}.jpg"><img alt="{{ imprint.title}}" src="http://s3.zimity.me/{{ imprint.slug }}_m.jpg" /></a></li>
	      {% endif %}
      </div>

      <p>{{ imprint.content }}</p>
      
      
        <g:plusone size="medium" annotation="none"></g:plusone>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Looking at great photos of real food on Foodtree right now." data-count="horizontal" data-via="foodtree"></a>
        <div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div>

      {% load comments %}

      {% if request.user.is_authenticated %}
	{% render_comment_form for imprint %}
      {% endif %}

      <table class="zebra-striped">
        <tbody>
	  {% get_comment_list for imprint as comment_list %}
	  {% for comment in comment_list %}
	     <tr>
	        <td><a href="{{ comment.user.get_absolute_url }}">{{ comment.name }}</a></td>
	        <td>{{ comment.comment }}</td>
	     </tr>
	  {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="span4">
      <dl>
        <dt>Name</dt>
        <dd><a href="{{ imprint.user.get_absolute_url }}">{{ imprint.user.first_name }}</a></dd>
      </dl>

      <div id="map_canvas"></div>

      <dl>
        <dt>Latitude</dt>
        <dd>{{ imprint.latitude }}</dd>

        <dt>Longitude</dt>
        <dd>{{ imprint.longitude }}</dd>

        <dt>Altitude</dt>
        <dd>{{ imprint.altitude }}</dd>
      </dl>
      
      <br />
      
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-1840414531786659";
      /* ZimityImprintAds */
      google_ad_slot = "0867945814";
      google_ad_width = 250;
      google_ad_height = 250;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>

    </div>
  </div>
  <script type="text/javascript">
  //<![CDATA[

  function initialize() {
    var myLatlng = new google.maps.LatLng({{ imprint.latitude }}, {{ imprint.longitude }});
    var myOptions = {
      zoom: 16,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false,
      scaleControl: false,
      navigationControl: true,
      streetViewControl: false
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    
    var marker = new google.maps.Marker({
    position: myLatlng,
    map: map
    });
  }

  function loadScript() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=initialize";
    document.body.appendChild(script);

  }

  window.onload = loadScript;
  
  //]]>
  </script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=166134936742177";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<pre>
  <?php echo print_r($imprint) ?>
</pre>

{% endblock content %}